h1,
h2,
h3,
h4,
h5 {
  color: #222;
  text-shadow: -1px -1px #444;
}

.col1 {
  grid-column: 1/1;
  grid-row: 1/1;
}
.col2 {
  grid-column: 2/2;
  grid-row: 1/1;
}
.col3 {
  grid-column: 3/3;
  grid-row: 1/1;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 2ch;
}

button {
  cursor: pointer;
  padding: 2ch;
  background: #ccc;
  border: 0;
  border-radius: 1ch;

  &:hover {
    background: #fff;
  }
}

a {
  color: #61dafb;
}

.error {
  font-size: 1ch;
  color: red;
  padding: 0;
  margin: 0;
}

.funds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // height: 50vh;
}

.fundbar {
  cursor: pointer;
  border-radius: 1ch;
  text-align: center;
  margin: auto 2ch 0 2ch;

  &.totals {
    pointer-events: none;
    &.above {
      margin-top: 2ch;
    }
    &.below {
      margin-top: 50%;
    }
  }

  h3 {
    margin: auto auto 0 auto;
  }

  &.front {
    pointer-events: none;
    transition: all 0.2s ease-out;
    border: 2px solid #222a;
    display: flex;
    flex-direction: column;
    padding: 2ch;
    color: #333;
    text-shadow: 2px 2px #2223, -1px -1px #fffa;
  }

  &.back {
    background: #222;

    border: 4px solid #3334;
    height: 50vh;
  }
}

.totals {
  z-index: 9;
  .above {
    margin-top: 5ch;
  }
  .bottom {
    margin-bottom: 5ch;
  }
}

.transaction-modal,
.login {
  color: #fff;
  z-index: 100;
  position: absolute;
  width: 95vw;
  height: 95vh;
  border-radius: 1ch;
  border: 1ch solid #000;
  background: #000c;
  display: flex;
  pointer-events: visible;

  h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000, -1px -1px #444;
  }

  .cancel-button {
    cursor: pointer;
    background: #000a;
    border: 1px solid #ccc;
    width: 4ch;
    padding: 1ch 1ch;
    border-radius: 1.5ch;
    text-align: center;
    position: relative;
    top: -9ch;
    left: -2ch;
  }

  .form {
    pointer-events: all;
    box-sizing: content-box;
    padding: 3ch 2ch;
    background: #000a;
    border: 1px solid #ccc;
    border-radius: 1ch;
    width: 50%;
    margin: auto;

    label {
      display: flex;
      margin: 1ch;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
